/* These attributes apply to all elements unless explicitly overridden.  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The body color is close to neutral gray.  */
body {
    background-color: #d9dcd6;
}

/* The header uses white lettering on an unsaturated blue background.
 * The font is sans-serif for readabllity.  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The h1 is the name of the company, in large type.  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Some of the letters of the company name are rendered as gray rather
 * than white, to emphasize the "seo" in the company name.  This is
 * problamatic for accessibility, but the customer has requested this,
 * so leave it in.  */
header h1 .seo {
    color: #d9dcd6;
}

/* The links at the top of the page are show in smaller type than
 * the company name, and in a slightly different but still sans-serif
 * font.  */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Display the links in an undecorated list, left to right.  */
header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Links are white.  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraphs use relatively small print.  */
p {
    font-size: 16px;
}

.hero { /* the large picture at the top of the page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* the left column of boxes */
    float: left;
    margin-right: 25px;
}

.float-right { /* the right column of boxes */
    float: right;
    margin-left: 25px;
}

.content { /* text within each box */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* attributes for the right column of boxes */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-all {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-all h2 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* attributes for the left column of boxes */
/* The background is a slightly darker blue than the right column.  */
.left-column-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.left-column-box img {
    max-height: 200px;
}

.left-column-box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The original HTML had a footer but the request from the customer does not.
 * In the HTML I have commented out the footer rather than deleting it
 * in case the customer changes his mind, and I will likewise leave these 
 * css definitions here.  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
